* {
    margin: 0;
    padding: 0;
    
    font-family: 'Lora', serif;
    -ms-overflow-style: none;
}

body {
    margin:0;
    padding:0;
}

.header {
    background-image: linear-gradient(rgba(2, 33, 22,.3), rgba(0,13,0,.3)),url('Images/background (5).jpg');
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

    .header .container {
        min-height: 30rem;
        min-width: 55rem;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        box-shadow: 0 0 1rem 0 rgba(195, 212, 200, .5);
        border-radius: 15px;
        background-image: linear-gradient(rgba(0,13,0,.013),rgba(2, 33, 22,.13));
        backdrop-filter: blur(5px);
    }

    .header h1 {
        font-family: Roboto;
        top: 250px;
        font-size: 38px;
        color: #c3d4c8;
        text-align: center;
        transform: translate(0px,20px);
        margin: 10px;
    }

    .header input {
        display: block;
        width: 300px;
        padding: 20px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 40px;
        border: 0;
        border-radius: 45px;
        background-color: rgba(255, 255, 255, .15);
        box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
        backdrop-filter: blur(5px);
        text-align: center;
        caret-color: #c3d4c8;
        font-size: 20px;
        font-family: Roboto;
        color: #c3d4c8;
    }

        .header input::placeholder {
            color: #c3d4c8;
            font-size: 20px;
            font-family: Roboto;
        }

        .header input:focus {
            outline: 0px solid black;
            border: 0;
            box-shadow: 0 0 15px 4px rgba(195, 212, 200,0.3);
            background-color: rgba(235, 235, 235, .15);
            transition: 0.5s;
        }

        .header input:focus::placeholder{
            color:transparent;
        }

        .header input:hover::placeholder {
            font-family:Roboto;
            text-shadow: 0 0 15px 4px #6b756e;
            transition:0.5s;
        }


    .header .button-next {
        font-family:Roboto;
        display: block;
        width: 100px;
        padding: 10px;
        margin-right: 5%;
        margin-left: auto;
        margin-top: 40px;
        margin-bottom:48px;
        border: 0;
        border-radius: 45px;
        background-color: rgba(155, 155, 155, .25);
        box-shadow: 0 0 15px 4px rgba(255,255,255,0.13);
        backdrop-filter: blur(5px);
        text-align: center;
        font-size: 20px;
        color: #c3d4c8;
    }

    .header .button-next:hover{

    }

